Repository att-comdev/porthole: changes, and which Zuul jobs are due for each by the changed paths.
All: porthole-build-etcdctl-utility, porthole-upload-etcdctl-utility, porthole-promote-etcdctl-utility, porthole-build-gate-utils, porthole-upload-gate-utils, porthole-promote-gate-utils

porthole-build-etcdctl-utility:
  parent: porthole-build
  description: Build etcdctl-utility images
  vars:
    docker_images:
    - context: etcdctl-utility
      repository: openstackhelm/etcdctl-utility
      dockerfile: Dockerfile
      tags:
      - latest-ubuntu_xenial

porthole-upload-etcdctl-utility:
  parent: porthole-upload
  description: Build and upload etcdctl-utility images
  vars:
    docker_images:
    - context: etcdctl-utility
      repository: openstackhelm/etcdctl-utility
      dockerfile: Dockerfile
      tags:
      - latest-ubuntu_xenial

porthole-promote-etcdctl-utility:
  parent: porthole-promote
  description: Promote a previously published etcdctl-utility image to latest.
  vars:
    docker_images:
    - context: etcdctl-utility
      repository: openstackhelm/etcdctl-utility
      dockerfile: Dockerfile
      tags:
      - latest-ubuntu_xenial

porthole-build-gate-utils:
  parent: porthole-build
  description: Build gate-utils images
  vars:
    docker_images:
    - context: gate-utils
      repository: openstackhelm/gate-utils
      tags:
      - latest-opensuse_15
      dockerfile: Dockerfile.suse_15
    - context: gate-utils
      repository: openstackhelm/gate-utils
  ...

porthole-upload-gate-utils:
  parent: porthole-upload
  description: Build and upload gate-utils images
  vars:
    docker_images:
    - context: gate-utils
      repository: openstackhelm/gate-utils
      tags:
      - latest-opensuse_15
      dockerfile: Dockerfile.suse_15
    - context: gate-utils
      repository: openstackhelm/gate-utils
  ...

porthole-promote-gate-utils:
  parent: porthole-promote
  description: Promote a previously published gate-utils image to latest.
  vars:
    docker_images:
    - context: gate-utils
      repository: openstackhelm/gate-utils
      tags:
      - latest-opensuse_15
      dockerfile: Dockerfile.suse_15
    - context: gate-utils
  ...

Helm chart and Dockerfile for etcdctl Utility container
  Dockerfiles/etcdctl-utility/Dockerfile
  Dockerfiles/etcdctl-utility/Makefile
  Dockerfiles/etcdctl-utility/README
  Dockerfiles/etcdctl-utility/build.sh
  etcdctl-utility/Chart.yaml
  etcdctl-utility/requirements.yaml
  etcdctl-utility/templates/bin/_bootstrap.sh.tpl
  etcdctl-utility/templates/bin/_nccli-sudo.tpl
  etcdctl-utility/templates/bin/_start.sh.tpl
  etcdctl-utility/templates/bin/utility/_etcdctl-utility-rootwrap.tpl
  etcdctl-utility/templates/bin/utility/_nccli.tpl
  etcdctl-utility/templates/configmap-bin.yaml
  etcdctl-utility/templates/configmap-etc-client.yaml
  etcdctl-utility/templates/configmap-etc-sudoers.yaml
  etcdctl-utility/templates/deployment-utility.yaml
  etcdctl-utility/templates/tests/test-etcdctl-api.yaml
  etcdctl-utility/values.yaml
  gate-utils/Dockerfile.debian
  gate-utils/Dockerfile.suse_15
  gate-utils/build.sh
  install_etcdctl_utility.sh
  zuul.d/base.yaml
  zuul.d/etcdctl-utility.yaml
  zuul.d/gate-utils.yaml
  zuul.d/openstack-loci.yaml
  zuul.d/playbooks/Dockerfile
  zuul.d/playbooks/build-loci.yml
Due: porthole-build-etcdctl-utility, porthole-upload-etcdctl-utility, porthole-promote-etcdctl-utility, porthole-build-gate-utils, porthole-upload-gate-utils, porthole-promote-gate-utils

Helm chart and Dockerfile for etcdctl Utility container
  Dockerfiles/etcdctl-utility/Dockerfile
  Dockerfiles/etcdctl-utility/Makefile
  Dockerfiles/etcdctl-utility/README
  Dockerfiles/etcdctl-utility/build.sh
  etcdctl-utility/Chart.yaml
  etcdctl-utility/requirements.yaml
  etcdctl-utility/templates/bin/_bootstrap.sh.tpl
  etcdctl-utility/templates/bin/_nccli-sudo.tpl
  etcdctl-utility/templates/bin/_start.sh.tpl
  etcdctl-utility/templates/bin/utility/_etcdctl-utility-rootwrap.tpl
  etcdctl-utility/templates/bin/utility/_nccli.tpl
  etcdctl-utility/templates/configmap-bin.yaml
  etcdctl-utility/templates/configmap-etc-client.yaml
  etcdctl-utility/templates/configmap-etc-sudoers.yaml
  etcdctl-utility/templates/deployment-utility.yaml
  etcdctl-utility/templates/tests/test-etcdctl-api.yaml
  etcdctl-utility/values.yaml
  install_etcdctl_utility.sh
  zuul.d/base.yaml
  zuul.d/etcdctl-utility.yaml
  zuul.d/playbooks/Dockerfile
  zuul.d/playbooks/build-loci.yml
Due: porthole-build-etcdctl-utility, porthole-upload-etcdctl-utility, porthole-promote-etcdctl-utility

Initial Commit of compute-utility container code
  Dockerfiles/compute-utility/Dockerfile.ubuntu_xenial
  Dockerfiles/compute-utility/Makefile
  Dockerfiles/compute-utility/build.sh
  compute-utility/Chart.yaml
  compute-utility/requirements.yaml
  compute-utility/templates/bin/_bootstrap.sh.tpl
  compute-utility/templates/bin/_nccli-sudo.tpl
  compute-utility/templates/bin/_start.sh.tpl
  compute-utility/templates/bin/utility/_compute-utility-rootwrap.tpl
  compute-utility/templates/bin/utility/_compute.tpl
  compute-utility/templates/bin/utility/_nccli.tpl
  compute-utility/templates/configmap-bin.yaml
  compute-utility/templates/configmap-etc-client.yaml
  compute-utility/templates/configmap-etc-sudoers.yaml
  compute-utility/templates/deployment-utility.yaml
  compute-utility/values.yaml
  install_compute_utility.sh
Due: none

Helm chart and Dockerfile for etcdctl Utility container
  Dockerfiles/etcdctl-utility/Dockerfile
  Dockerfiles/etcdctl-utility/Makefile
  Dockerfiles/etcdctl-utility/README
  Dockerfiles/etcdctl-utility/build.sh
  etcdctl-utility/Chart.yaml
  etcdctl-utility/requirements.yaml
  etcdctl-utility/templates/bin/_bootstrap.sh.tpl
  etcdctl-utility/templates/bin/_nccli-sudo.tpl
  etcdctl-utility/templates/bin/_start.sh.tpl
  etcdctl-utility/templates/bin/utility/_etcdctl-utility-rootwrap.tpl
  etcdctl-utility/templates/bin/utility/_nccli.tpl
  etcdctl-utility/templates/configmap-bin.yaml
  etcdctl-utility/templates/configmap-etc-client.yaml
  etcdctl-utility/templates/configmap-etc-sudoers.yaml
  etcdctl-utility/templates/deployment-utility.yaml
  etcdctl-utility/templates/tests/test-etcdctl-api.yaml
  etcdctl-utility/values.yaml
  install_etcdctl_utility.sh
Due: porthole-build-etcdctl-utility, porthole-upload-etcdctl-utility, porthole-promote-etcdctl-utility

Chart/Dockerfile for Openstack Utility Container
  Dockerfiles/openstack-utility/Dockerfile
  install_openstack_utility.sh
  openstack-utility/Chart.yaml
  openstack-utility/requirements.yaml
  openstack-utility/templates/bin/_bootstrap.sh.tpl
  openstack-utility/templates/bin/_nccli-sudo.tpl
  openstack-utility/templates/bin/_start.sh.tpl
  openstack-utility/templates/bin/utility/_nccli.tpl
  openstack-utility/templates/bin/utility/_openstack-utility-rootwrap.tpl
  openstack-utility/templates/configmap-bin.yaml
  openstack-utility/templates/configmap-etc-client.yaml
  openstack-utility/templates/configmap-etc-sudoers.yaml
  openstack-utility/templates/deployment-utility.yaml
  openstack-utility/values.yaml
Due: none

Chart/Dockerfile for Postgresql Utility
  Dockerfiles/postgresql-utility/Dockerfile.ubuntu
  postgresql-utility/Chart.yaml
  postgresql-utility/requirements.yaml
  postgresql-utility/templates/bin/_bootstrap.sh.tpl
  postgresql-utility/templates/bin/_nccli-sudo.tpl
  postgresql-utility/templates/bin/_start.sh.tpl
  postgresql-utility/templates/bin/utility/_nccli.tpl
  postgresql-utility/templates/bin/utility/_postgresql-utility-rootwrap.tpl
  postgresql-utility/templates/configmap-bin.yaml
  postgresql-utility/templates/configmap-etc-client.yaml
  postgresql-utility/templates/configmap-etc-sudoers.yaml
  postgresql-utility/templates/deployment-utility.yaml
  postgresql-utility/templates/tests/test-postgresqlutility-imagepull.yaml
  postgresql-utility/templates/tests/test-postgresqlutility-running.yaml
  postgresql-utility/values.yaml
Due: none

Path conditions:
  porthole-build-etcdctl-utility: any of: Dockerfiles/etcdctl-utility/.*, zuul.d/etcdctl-utility.yaml
  porthole-upload-etcdctl-utility: any of: Dockerfiles/etcdctl-utility/.*, zuul.d/etcdctl-utility.yaml
  porthole-promote-etcdctl-utility: any of: Dockerfiles/etcdctl-utility/.*, zuul.d/etcdctl-utility.yaml
  porthole-build-gate-utils: any of: gate-utils/.*, zuul.d/gate-utils.yaml
  porthole-upload-gate-utils: any of: gate-utils/.*, zuul.d/gate-utils.yaml
  porthole-promote-gate-utils: any of: gate-utils/.*, zuul.d/gate-utils.yaml
